{{ form.hidden_tag() }} {{ form.csrf_token }}

<!-- Render form fields -->
{% for field in form if field.widget.input_type != 'hidden' %}
<div class="form-group">
    {{ field.label }} 
    {% if field.widget.input_type == 'checkbox' %}
    {{ field(class='form-check-input') }}
    {% else %}
    {{ field(class='form-control') }}
    {% endif %}
    <span>
        {% if field.errors %} {% for error in field.errors %}
        <b class="text-danger">{{ error }}</b>
        {% endfor %} {% endif %}
    </span>
</div>
{% endfor %}
